*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

header{
	height: 120vh;
	background: url(../images/bgHeader.jpg);
	background-size: cover;
	background-position: center;
}

nav{
	height: 75px;
	width: 100%;
	border-bottom: 2px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	background-color: hsla(360, 3%, 36%, 0.7);
	z-index: 1000;
}

nav > ul{
	display: flex;
	list-style-type: none;
	color: whitesmoke;

}

nav > ul > li{
	margin: 10px;
	font-size: 50px;
}

/*My Website Home Page*/

.myWebsite img{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	display: flex;
	align-content: center;
	margin-top: 80%;
}

.myWebsite{
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.myWebsite > div{
	text-align: center;
}

.myWebsite h4{
	color: whitesmoke;
	font-size: 50px;
	margin-top: 5%;
	text-shadow: 3px 3px black;

}

/*Section 2 Website*/

.about-me{
	height: 120vh;
	background: url(../images/section2BG.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-me > div{
	height: 300px;
	width: 450px;
	border-radius: 5px;
	align-items: center;
	justify-content: center;
	background-color: hsla(360, 3%, 36%, 0.57);
}

.about-me > div >p{
	text-align: center;
	font-size: 19px;
}

.myself > p{
	margin: 15px;
}

.myself img{
	height: 85px;
	width: 85px;
	border-radius: 50%;
	z-index: 10;
	position: relative;
}

.myself > div{
	text-align: center;
}

.myself h4{
	margin: 10px;
}

.myself hr{
	position: relative;
	top: 40px
}


/*Section 3 Projects*/

.projects{
	height: 120vh;
	background: url(../images/section3BG.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.myprojects img{
	height: 200px;
	width: 350px;
	border-radius: 5%;
}

.projects > div > div > h3{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
	font-size: 30px;
	/*color: darkgrey;*/
}

.myprojectpic{
	width: 90vw;
	display: flex;
	justify-content: space-around;
	align-items: center;

}



/*Media Home Page Ipad*/
@media only screen and (max-width: 768px){
	.myprojectpic{
		flex-wrap: wrap;
	}

	nav > ul > li{
		margin: 50px;
		font-size: 50px;
	}

/*	.myself > p{
		margin: 10px;
	}*/
}


/*Iphone*/
@media only screen and (max-width: 375px){
	nav > ul > li{
		margin: 8px;
		font-size: 15px;
	}

	.myself > p{
		margin: 10px;
	}
}


/*Iphone*/
@media only screen and (min-width: 360px){
	nav > ul > li{
		margin: 8px;
		font-size: 15px;
	}

	.myself > p{
		margin: 10px;
	}
}
